# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

#IDE
.idea
.project
.pydevproject
.settings/
venv

# Unit test
.pytest_cache/

# Sphinx documentation
docs/_build/
docs/_static/
docs/_templates/
